*.obj
*.o
*.lo
*.gch
*.pch
*.res
*.sdf
*.suo
*.so
*.layout
*.depend
*.idb
*.pdb
*.ipdb
*.tlb
*.tlog
*.log
*.sdf
*.VC.db
*.lastbuildstate
*.iobj
*.su
*.suo
*.ipdb
*.ilk
Thumbs.db
*.lnk
*.bak
*.tmp
*.la
*.depend
*.layout
